<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <footer th:fragment="footer">
             <div class="panel panel-default">

                 <div class="panel-body footer">
                     <a href="http://geokogud.info/"><img src="/images/footer/sarv.png" alt="SARV" title="SARV: geokogude infosüsteem" class="footer_image"/></a>
                     <a href="http://natarc.ut.ee/"><img src="/images/footer/NATARC.png" class="footer_image" alt="Natural History Archives and Information Network (NATARC)" title="SARV is part of national infrastructure Natural History Archives and Information Network (NATARC)"/></a>
                     <a href="http://fossiilid.info"><img src="/images/footer/fossiilid.png" class="footer_image"/></a>
                     <a href="http://mindat.org"> mindat.org</a><br />
                     <p class="footer-smalltext">Küsimused andmebaasi ja veebilehe kohta: Olle Hints, TTÜ Geoloogia Instituut, olle.hints@ttu.ee</p>
                 </div>
            </div>
        </footer>
    </body>
</html>