<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <footer th:fragment="footer">
             <div class="panel panel-default">

                 <div class="panel-body">
                     <table class="table">
                         <tbody>
                         <tr>
                             <td><h5 th:text="#{useful_links}"></h5></td>
                             <td><a href="http://mindat.org"> mindat.org</a></td>
                             <td><a href="http://fossiilid.info"> fossiilid.info </a></td>
                             <td><a href="http://geokogud.info"> geokogud.info </a></td>
                             <td></td>
                             <td></td>
                         </tr>
                         </tbody>
                     </table>
                 </div>
            </div>
        </footer>
    </body>
</html>