<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <footer th:fragment="footer">
            <div class="row">
                <div class="col-md-12">
                    <p th:text="#{useful_links}"></p>
                    <p><a href="http://mindat.org">mindat.org</a></p>
                    <p><a href="http://fossiilid.info" >fossiilid.info</a></p>
                    <p><a href="http://geokogud.info">geokogud.info</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>