<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

</head>
<body>
<div th:fragment="gallery">
    <div class="carousel slide" id="myCarousel" >
        <div class="carousel-inner">
            <div th:class="item" th:classappend="active" >
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/auripigment.png" data-fancybox="gallery" >
                        <img src="../images/front_gallery/auripigment.png" th:class="img-responsive" th:classappend="carouselPicture" />1</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/biotiit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/biotiit.png" th:class="img-responsive" th:classappend="carouselPicture"/>2</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3" >
                    <a href="../images/front_gallery/galeniit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/galeniit.png" th:class="img-responsive" th:classappend="carouselPicture"/>3</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3" >
                    <a href="../images/front_gallery/kaltsiit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/kaltsiit.png" th:class="img-responsive" th:classappend="carouselPicture"/>4</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/kips.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/kips.png" th:class="img-responsive" th:classappend="carouselPicture"/>5</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/krokoiit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/krokoiit.png" th:class="img-responsive" th:classappend="carouselPicture"/>6</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/limoniit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/limoniit.png" th:class="img-responsive" th:classappend="carouselPicture"/>7</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/malahhiit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/malahhiit.png" th:class="img-responsive" th:classappend="carouselPicture"/>8</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/markasiit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/markasiit.png" th:class="img-responsive" th:classappend="carouselPicture"/>9</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/mineraal.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/mineraal.png" th:class="img-responsive" th:classappend="carouselPicture"/>10</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/muskoviit.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/muskoviit.png" th:class="img-responsive" th:classappend="carouselPicture"/>11</a>
                </div>
            </div>
            <div th:class="item">
                <div th:class="col-md-3">
                    <a href="../images/front_gallery/sülviin.png" data-fancybox="gallery">
                        <img src="../images/front_gallery/sülviin.png" th:class="img-responsive" th:classappend="carouselPicture"/>12</a>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" >
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only" style="margin-bottom: 100px; margin-left: 60px">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

</body>
</html>