.ui-menu {
    z-index: 2000;
}

.clickableRow {
    cursor: pointer;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.carousel-control.left,.carousel-control.right {
    background-image:none;
}

.img-responsive {
    height: 140px;
}
