<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">

    </head>

    <body>
        <div class="container">
            <nav th:replace="fragments/navbar :: navbar"></nav>
            <div class="col-md-12" style="padding-top: 80px;">
                <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/auripigment.png" data-fancybox="gallery"><img src="images/front_gallery/auripigment.png" class="img-responsive" />1</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/biotiit.png" data-fancybox="gallery"><img src="images/front_gallery/biotiit.png" class="img-responsive" />2</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/galeniit.png" data-fancybox="gallery"><img src="images/front_gallery/galeniit.png" class="img-responsive" />3</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/kaltsiit.png" data-fancybox="gallery"><img src="images/front_gallery/kaltsiit.png" class="img-responsive" />4</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/kips.png" data-fancybox="gallery"><img src="images/front_gallery/kips.png" class="img-responsive" />5</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/krokoiit.png" data-fancybox="gallery"><img src="images/front_gallery/krokoiit.png" class="img-responsive" />6</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/limoniit.png" data-fancybox="gallery"><img src="images/front_gallery/limoniit.png" class="img-responsive" />7</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/malahhiit.png" data-fancybox="gallery"><img src="images/front_gallery/malahhiit.png" class="img-responsive" />8</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/markasiit.png" data-fancybox="gallery"><img src="images/front_gallery/markasiit.png" class="img-responsive" />9</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/mineraal.png" data-fancybox="gallery"><img src="images/front_gallery/mineraal.png" class="img-responsive" />10</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/muskoviit.png" data-fancybox="gallery"><img src="images/front_gallery/muskoviit.png" class="img-responsive" />11</a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                                <a href="images/front_gallery/sülviin.png" data-fancybox="gallery"><img src="images/front_gallery/sülviin.png" class="img-responsive" />12</a>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="jumbotron" >
                <div class="row">
                    <div class="col-md-6">
                        <div id="networkcontainer" style="width: 100%; padding-top: 100%;position: relative;">
                            <div id="mynetwork" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;"></div>
                        </div>

                    </div>
                    <div class="col-md-6"  th:unless=" ${rocksText==null}">
                            <h2 th:text="${rocksText.title_et}"  th:unless="${#locale.getLanguage()=='en'}"></h2>
                            <h2 th:text="${rocksText.title_en}" th:if="${#locale.getLanguage()=='en'}"></h2>
                            <p  th:utext="${rocksText.content_et}" th:unless="${#locale.getLanguage()=='en'}"></p>
                            <p  th:utext="${rocksText.content_en}" th:if="${#locale.getLanguage()=='en'}"></p>
                    </div>
                    <div class="col-md-6" style=" position: absolute; bottom: 0" th:if="${rocksText==null}">
                            <h2 th:text="#{front_page.title}"></h2>
                            <p th:text="#{front_page.introduction}"></p>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/search.js"></script>
        <link rel="stylesheet" href="/css/vis.css"/>
        <script src="/js/vis.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var lang = /*[[${#locale.getLanguage()}]]*/ 'et';
            /*]]>*/

            var nodes = new vis.DataSet([
                {id: 1, label: 'Kivi', group: 'main'},
                {id: 2, label: 'Kivim'},
                {id: 3, label: 'Mineraal'},
                {id: 4, label: 'Maavara'}
            ]);
            if(lang === 'en') {
                nodes = new vis.DataSet([
                    {id: 1, label: 'Stone', group: 'main'},
                    {id: 2, label: 'Rock'},
                    {id: 3, label: 'Mineral'},
                    {id: 4, label: 'Resource'}
                ]);
            }

            var edges = new vis.DataSet([
                {from: 1, to: 2},
                {from: 1, to: 3},
                {from: 1, to: 4}
            ]);

            // create a network
            var container = document.getElementById('mynetwork');

            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes:{
                    shape: 'circularImage',
                    image: "images/g2tsta_small.png",
                    color: {
                        background: 'rgba(255, 255, 255, 0)',
                        border:'rgba(255, 255, 255, 0)',
                        highlight: 'rgba(255, 255, 255, 0)'
                    },
                    font: {
                        color: '#c8c8c8',
                        size: 20
                    },
                    mass: 2, //makes edges long enough
                    size: 50
                },
                edges:{
                    color:'#f8f8f8'
                },
                groups:{
                    main:{
                        size:100
                    }
                }
            };

            var network = new vis.Network(container, data, options);
        </script>
    </body>
</html>