<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body th:attr="data-has-map=${rock.id}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">

                        <div th:if="${(param.lang != null) and (param.lang[0] == 'en')}">
                            <h2 th:text="${rock.name_en}"></h2>
                        </div>
                        <div th:if="${(param.lang == null) or (param.lang[0] == 'et')}">
                            <h2 th:text="${rock.name}"></h2>
                        </div>

                        <p><a th:href="${#httpServletRequest.requestURI}+'/gallery'" th:text="#{gallery}"></a></p>

                        <p th:text="${rock.formula}"></p><!--<p th:text="${rock.formula_html}"></p>-->

                        <div th:if="${(param.lang != null) and (param.lang[0] == 'en')}">
                            <p th:text="${rock.description_en}">N/A</p>
                        </div>
                        <div th:if="${(param.lang == null) or (param.lang[0] == 'et')}">
                            <p th:text="${rock.description}"></p>
                        </div>

                        <div th:if="${(param.lang != null) and (param.lang[0] == 'en')}">
                            <p th:text="${rock.description_in_estonia_en}"></p>
                        </div>
                        <div th:if="${(param.lang == null) or (param.lang[0] == 'et')}">
                            <p th:text="${rock.description_in_estonia}"></p>
                        </div>

                        <div th:if="${(param.lang != null) and (param.lang[0] == 'en')}">
                            <p th:text="${rock.description_usage_en}"></p>
                        </div>
                        <div th:if="${(param.lang == null) or (param.lang[0] == 'et')}">
                            <p th:text="${rock.description_usage}"></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p style="padding-top: 20px;"><a th:href="${#httpServletRequest.requestURI}+'/map'" th:text="#{map}"></a></p>
                        <div id="map" style="height: 400px; width: 100%; padding-bottom: 20px;"></div>
                    </div>

                    <div class="col-md-12">
                       <div class="panel panel-default">
                            <div class="panel-heading"><span th:text="#{links_title}"></span></div>
                            <div class="panel-body">
                                <ul>
                                    <li th:classappend="${rock.mindat_id == null} ? hidden"><a th:href="${rock.mindat_id}">Mindat</a></li>
                                    <li th:classappend="${rock.link_wikipedia == null} ? hidden"><a th:href="${rock.link_wikipedia}">Wikipedia (EST)</a></li>
                                    <li th:classappend="${rock.link_wikipedia_en == null} ? hidden"><a th:href="${rock.link_wikipedia_en}">Wikipedia (ENG)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer"></footer>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>