<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title th:text="#{title}"></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css" />
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet" />

    <link href="/css/custom.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/vis.css"/>
    <script src="/js/vis.js"></script>
</head>

<body th:attr="data-has-map=${rockId}">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="rocktree-network" class="top-clear-80"></div>
        </div>
        <div class="col-md-4 top-clear-80">
            <p th:text="#{selected_node}"></p>
            <p id="nodeDataContainer"></p>
        </div>

        <div class="col-md-12">
        <table class="padded-table">
            <tr>
                <th class="padded-cell">ID</th>
                <th class="padded-cell">parent</th>
                <th class="padded-cell">name</th>
            </tr>
            <tr th:each="item : ${rockTree}">
                <td th:text="${item.rock_id}" class="padded-cell">Onions</td>
                <td th:text="${item.parent_id}" class="padded-cell">2.41</td>
                <td th:text="${item.rock__name}" class="padded-cell">yes</td>
            </tr>
        </table>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/search.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var tree = /*[[${rockTree}]]*/ undefined;
    /*]]>*/
    // create an array with nodes

    var nds = [];
    var edgs = [];
    var extantNodes = [];
    tree.forEach(function(element) {
        if(!extantNodes.includes(element.rock_id)) {
            var node = {id: element.rock_id, label: element.rock__name};
            nds.push(node);
        }

        var edge = {from: element.rock_id, to: element.parent_id};
        edgs.push(edge);
        extantNodes.push(element.rock_id);
    });
    var nodes = new vis.DataSet(nds);

    // create an array with edges
    var edges = new vis.DataSet(edgs);

    // create a network
    var container = document.getElementById('rocktree-network');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        nodes: {
            shape: 'box'
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);

    network.on("click", function (params) {
        if(params.nodes.length > 0) { //user clicked on a node
            var nodeId = params.nodes[0];
            var nodeName = nodeId;
            tree.forEach(function(element) {
                if(nodeId === element.rock_id) {
                    nodeName = element.rock__name;
                }
            });
            var hostname = window.location.hostname;
            //uncomment the next line to make it work on localhost. USE WITH CAUTION.
            //hostname = hostname + ":" + window.location.port;
            var nodeLink = hostname + "/rock/" + nodeId + "/tree";

            document.getElementById('nodeDataContainer').innerHTML = nodeId + " " + nodeName +
            '<br/><a id="selectedLink" href="">Link</a>';
            document.getElementById('selectedLink').href = nodeLink;
        }
    });
</script>
</body>
</html>