<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

</head>

<body th:attr="data-has-map=${rockId}">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="rocktree-network" class="top-clear-80"></div>
        </div>
        <div class="col-md-4 top-clear-80">
            <p th:text="#{selected_node}"></p>
            <p id="nodeDataContainer"></p>
        </div>

        <div class="col-md-12">
            <button th:text="#{rock_tree_table_button}" id="tableButton"></button>
            <table class="padded-table" id="treeTable">
                <tr>
                    <th class="padded-cell">ID</th>
                    <th class="padded-cell">parent</th>
                    <th class="padded-cell">name</th>
                </tr>
                <tr th:each="item : ${rockTree}">
                    <td th:text="${item.rock_id}" class="padded-cell">N/A</td>
                    <td th:text="${item.parent_id}" class="padded-cell">N/A</td>
                    <td th:text="${item.rock__name}" class="padded-cell">N/A</td>
                </tr>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/custom.js"></script>

<link href="/css/vis.min.css" rel="stylesheet" />
<script src="/js/vis.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var tree = /*[[${rockTree}]]*/ undefined;
    var lang = /*[[${#locale.getLanguage()}]]*/ 'et';
    /*]]>*/

    var nds = [];
    var edgs = [];
    var extantNodes = [];
    tree.forEach(function(element) {
        if(!extantNodes.includes(element.rock_id)) {
            var node = {id: element.rock_id, label: element.rock__name};
            nds.push(node);
        }

        var edge = {from: element.rock_id, to: element.parent_id};
        edgs.push(edge);
        extantNodes.push(element.rock_id);
    });

    var nodes = new vis.DataSet(nds);
    var edges = new vis.DataSet(edgs);
    var data = {
        nodes: nodes,
        edges: edges
    };

    var container = document.getElementById('rocktree-network');

    var options = {
        nodes: {
            shape: 'box'
        }
    };

    var network = new vis.Network(container, data, options);

    network.on("click", function (params) {
        if(params.nodes.length > 0) { //user clicked on a node
            var nodeId = params.nodes[0];
            var nodeName = nodeId;
            tree.forEach(function(element) {
                if(nodeId === element.rock_id) {
                    nodeName = element.rock__name;
                }
            });
            var hostname = window.location.hostname;
            //uncomment the next line to make it work on localhost. USE WITH CAUTION.
            //hostname = hostname + ":" + window.location.port;
            var nodeLink = hostname + "/rock/" + nodeId;
            var nodeTreeLink = hostname + "/rock/" + nodeId + "/tree";

            var nodeData = "";
            if (lang === 'en') {
               nodeData = 'Rock id: ' + nodeId +
                       '<br />Rock name: ' + nodeName +
                       '<br /><a id="selectedLink" href="">Link to rock</a>' +
                       '<br /><a id="selectedTreeLink" href="">Link to rock\'s net</a>';
            } else {
                nodeData = 'Kivi id: ' + nodeId +
                        '<br />Kivi nimi: ' + nodeName +
                        '<br /><a id="selectedLink" href="">Link kivile</a>' +
                        '<br /><a id="selectedTreeLink" href="">Link kivi seostele</a>';
            }

            document.getElementById('nodeDataContainer').innerHTML = nodeData;
            document.getElementById('selectedLink').href = nodeLink;
            document.getElementById('selectedTreeLink').href = nodeTreeLink;
        }
    });

    $("#treeTable").hide(); //should be hidden in the beginning

    $("#tableButton").click(function(){
        $("#treeTable").toggle();
    });
</script>
</body>
</html>