<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body th:attr="data-has-map=${rock.id}">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="jumbotron">
                <div class="row">

                    <div class="col-md-6">
                        <div>
                            <h2 th:text="${rock.name_en}" th:unless="${#locale.getLanguage()== 'et'}"></h2>
                            <h2 th:text="${rock.name}" th:unless="${#locale.getLanguage()== 'en'}"></h2>
                        </div>

                        <p><a th:href="${#httpServletRequest.requestURI}+'/gallery'" th:text="#{gallery}"></a></p>

                        <p th:text="${rock.formula}"></p><!--<p th:text="${rock.formula_html}"></p>-->

                        <div>
                            <p th:text="${rock.description_en}" th:unless="${#locale.getLanguage()== 'et'}">N/A</p>
                            <p th:text="${rock.description}" th:unless="${#locale.getLanguage()== 'en'}"></p>
                        </div>

                        <div>
                            <p th:text="${rock.description_in_estonia_en}" th:unless="${#locale.getLanguage()== 'et'}"></p>
                            <p th:text="${rock.description_in_estonia}" th:unless="${#locale.getLanguage()== 'en'}"></p>
                        </div>

                        <div th:if="${(param.lang != null) and (param.lang[0] == 'en')}">
                            <p th:text="${rock.description_usage_en}" th:unless="${#locale.getLanguage()== 'et'}"></p>
                            <p th:text="${rock.description_usage}" th:unless="${#locale.getLanguage()== 'en'}"></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="top-clear-20"><a th:href="${#httpServletRequest.requestURI}+'/map'" th:text="#{map}"></a></p>
                        <div id="map" class="unitpage-illustrative"></div>

                        <p class="top-clear-20"><a th:href="${#httpServletRequest.requestURI}+'/tree'" th:text="#{tree}"></a></p>
                        <div id="mynetwork" class="unitpage-illustrative"></div>
                    </div>

                    <div class="col-md-12">
                       <div class="panel panel-default">
                            <div class="panel-heading"><span th:text="#{links_title}"></span></div>
                            <div class="panel-body">
                                <ul>
                                    <li th:classappend="${rock.mindat_id == null} ? hidden"><a th:href="${rock.mindat_id}">Mindat</a></li>
                                    <li th:classappend="${rock.link_wikipedia == null} ? hidden"><a th:href="${rock.link_wikipedia}">Wikipedia (EST)</a></li>
                                    <li th:classappend="${rock.link_wikipedia_en == null} ? hidden"><a th:href="${rock.link_wikipedia_en}">Wikipedia (ENG)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/map.js"></script>

        <link rel="stylesheet" href="/css/vis.css"/>
        <script src="/js/vis.js"></script>

        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var tree = /*[[${rockTree}]]*/ 'Sebastian';
            /*]]>*/
            // create an array with nodes

            var nds = [];
            var edgs = [];
            var extantNodes = [];
            tree.forEach(function(element) {
                if(!extantNodes.includes(element.rock_id)) {
                    var node = {id: element.rock_id, label: element.rock__name};
                    nds.push(node);
                }

                var edge = {from: element.rock_id, to: element.parent_id};
                edgs.push(edge);
                extantNodes.push(element.rock_id);
            });
            var nodes = new vis.DataSet(nds);

            // create an array with edges
            var edges = new vis.DataSet(edgs);

            // create a network
            var container = document.getElementById('mynetwork');

            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: 'box'
                }
            };

            // initialize your network!
            var network = new vis.Network(container, data, options);
        </script>
    </body>
</html>