<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="row" style="padding-top: 80px;">
                <p>
                    <a th:href="@{/rock/} + ${rockId}" th:text="#{back_to_rock}"></a>
                </p>
                <div class="col-md-4" th:each="image : ${images}">
                    <a data-fancybox="gallery" th:href="${image.image__image_url}" th:attr="data-caption=${image.image__image_url}">
                        <img th:src="${image.image__image_url}" height="200" class="padding-20"/>
                    </a>
                    <br />
                    <a th:href="${image.image__image_url}" th:text="${image.image__image_url}"></a>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>