<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <img src="images/g2tsta.png" alt="" height="400" />
                    </div>
                    <div class="col-md-6">
                        <h2 th:text="#{rocks}"></h2>
                        <p th:text="#{rocks.introduction}"></p>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer"></footer>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/search.js"></script>
    </body>
</html>