<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <div class="row" style="padding-top: 80px;">
                <div class="col-md-12">
                    <div class="well bs-component">
                        <div class="form-group">
                            <label class="control-label" th:text="#{search_description}"></label>
                            <form action="#" th:action="@{/search}" th:object="${searchForm}" method="get">
                                <div class="input-group">
                                    <input th:field="*{searchString}" type="text" class="form-control" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <input class="btn btn-default" type="submit" th:text="#{search}"></input>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <table th:if="${rocks != null}" class="table table-striped table-hover clickableTable">
                            <thead>
                                <tr>
                                    <th th:text="#{id}"></th>
                                    <th th:text="#{name}"></th>
                                    <th th:text="#{description}"></th>
                                    <th th:text="#{type}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="rock : ${rocks}" th:href="'/rock/' + ${rock.id}" class="clickableRow">
                                    <td th:text="${rock.id}"></td>
                                    <td th:text="${rock.name}"></td>
                                    <td th:text="${rock.description}"></td>
                                    <td th:text="${rock.rock_type__name}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/search.js"></script>
    </body>
</html>