<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="jumbotron smalle">
        <div class="row " style="padding-top: 80px;padding-bottom: 20px" th:switch="${pageId}">
            <div th:case="60">
                <div th:replace="fragments/gallery60::gallery " ></div>
            </div>
            <div th:case="61">
                <div th:replace="fragments/gallery61::gallery " ></div>
            </div>
            <div th:case="62">
                <div th:replace="fragments/gallery62::gallery " ></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9" th:unless=" ${rocksText==null}">
                    <h3 th:text="${rocksText.title_et}"  th:unless="${#locale.getLanguage()=='en'}"></h3>
                    <h3 th:text="${rocksText.title_en}" th:if="${#locale.getLanguage()=='en'}"></h3>
                    <div th:utext="${rocksText.content_et}" th:unless="${#locale.getLanguage()=='en'}"></div>
                    <p  th:utext="${rocksText.content_en}" th:if="${#locale.getLanguage()=='en'}"></p>
                </div>
                <div class="col-md-9" th:if="${rocksText==null} and ${pageId=='60'}">
                    <h2 th:text="#{minerals}"></h2>
                    <p th:text="#{minerals.introduction}"></p>
                </div>
                <div class="col-md-9" th:if="${rocksText==null} and ${pageId=='61'}">
                    <h2 th:text="#{rocks}"></h2>
                    <p th:text="#{rocks.introduction}"></p>
                </div>
                <div class="col-md-9" th:if="${rocksText==null} and ${pageId=='62'}">
                    <h2 th:text="#{natural_resources}"></h2>
                    <p th:text="#{natural_resources.introduction}"></p>
                </div>
                <div class="col-md-3">
                    <blockquote th:class="themeBar">
                            <div class="list-group" th:each="rock : ${parentsList}">
                                    <a style="color:#c8c8c8;" th:href="'/rock/'+${rock.parent_id}"  th:text="${rock.parent__name}" th:unless="${#locale.getLanguage()=='en'}"></a>
                                   <a style="color:#c8c8c8;" th:href="'/rock/'+${rock.parent_id}"  th:text="${rock.parent__name}" th:if="${#locale.getLanguage()=='en'}"></a>
                            </div>
                    </blockquote>



                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/gallery.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>

</body>
</html>